.todo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  position: relative;
  padding-bottom: 70px;
  width: 100%;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input__field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
  font-size: 1.2rem;
}

.input__icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  fill: #ffffff;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.input__icon:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.input__button {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  padding: 0;
  outline: none;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow .3s ease-in-out;
  transition: -webkit-box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.input__button:focus {
  -webkit-box-shadow: 0 0 0 1px #ffffff;
          box-shadow: 0 0 0 1px #ffffff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  padding-left: 0;
  min-height: 300px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__tab {
  height: 50px;
  background: #666666;
  opacity: .5;
  outline: none;
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid rgba(1, 1, 1, 0.3);
  width: calc(100% / 3);
}

.footer__tab:last-child {
  border-right: 0;
  border-radius: 0 0 5px 0;
}

.footer__tab.active {
  background: none;
  border: none;
  opacity: 1;
}

.footer__icon {
  fill: #ffffff;
  width: 50%;
  height: 50%;
}

.footer__text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: xx-small;
  margin-top: 5px;
  font-weight: normal;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 100%;
}

.task.completed {
  opacity: .5;
}

.task.completed .task__text::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.task__check {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.task__text {
  line-height: .9rem;
  position: relative;
  word-wrap: break-word;
  height: auto;
  width: calc(100% - 100px);
}

.task__delete {
  width: 100%;
  height: 100%;
  fill: #ffffff;
}

.task__deleteButton {
  padding: 0;
  background: none;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: auto;
  border-radius: 50%;
  padding: 2px;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.task__deleteButton:focus {
  -webkit-box-shadow: 0 0 0 1px #ffffff;
          box-shadow: 0 0 0 1px #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  max-width: 450px;
  background-color: #333333;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}
/*# sourceMappingURL=index.css.map */